@import "../../Styles/styles.scss";

h1 {
  font-weight: 500;
  color: $text-gray;
}

.disabled {
  pointer-events: none !important;
  opacity: 0.5;
}

.add-subtask-btn {
  flex: 1;
  font-size: 13px;
  font-weight: 500;
  color: $text-gray;
  padding: 2px;
  border-radius: 3px;
  &:hover {
    color: white;
    background-color: $primary;
  }
}
