.today-header{
  padding: 36px 55px 0;
  margin-bottom: 24px;
  display: flex;

  &__content{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    min-width: 200px;
  }
}

.today-control{ 
  display: flex;
  width: 100%;
  height: auto;
  padding: 0 55px;
}
