@import "../../Styles/styles.scss";

.todo-item {
  margin-bottom: 8px;
  width: 100%;

  &:hover {
    .control-list {
      display: flex !important;
      gap: 8px !important;
    }
  }

  .control-list {
    display: none;
    .control-item {
      // display: none;
      color: $text-gray;
      padding: 0 4px;
      font-size: 20px;
      border-radius: 4px;
      &:hover {
        background-color: $hover-strong-color;
        cursor: pointer;
      }
    }
  }
}

.checkbox-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: 1px solid $text-gray;
  border-radius: 50%;
  &:hover {
    background-color: $hover-strong-color;
    .check-icon {
      font-size: 12px;
      display: block;
      color: $text-gray;
    }
  }
  &:disabled {
    border-color: #d6d6d6;
    background-color: unset;
    .check-icon {
      display: none;
    }
    cursor: not-allowed;
  }
}

.todo-item.checked {
  .task-name {
    text-decoration: line-through;
  }
  .checkbox-btn {
    background-color: $text-gray;
    &.red {
      background-color: #d1453b !important;
    }
    &.yellow {
      background-color: #eb8909 !important;
    }
    &.blue {
      background-color: #246fe0 !important;
    }
    .check-icon {
      font-size: 12px;
      display: block;
      color: white !important;
    }
  }
}

.checkbox-btn.red {
  background-color: rgba(255, 0, 0, 0.1) !important;
  border-color: #d1453b;
  .check-icon {
    color: #d1453b !important;
  }
}
.checkbox-btn.yellow {
  background-color: rgba(255, 255, 0, 0.1) !important;
  border-color: #eb8909;
  .check-icon {
    color: #eb8909 !important;
  }
}
.checkbox-btn.blue {
  background-color: rgba(0, 0, 255, 0.1) !important;
  border-color: #246fe0;
  .check-icon {
    color: #246fe0 !important;
  }
}

.todo-item.board {
  border: 1px solid #f0f0f0;
  padding: 4px 8px;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
}
