@import "../../Styles/styles.scss";

.upcoming-date-picker {
  font-size: 20px;

  &__date {
    display: flex;
  }
  &__header {
    margin: 20px 0;
    width: 100%;
  }
  &__month-list {
    height: calc(100vh - 160px);
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.upcoming-active-date {
  div {
    border-radius: 100%;
    background-color: $primary;
    color: white;
    font-weight: 500;
  }
}

.upcoming-hover-date:hover {
  background-color: #e6e6e6;
}

.upcoming-hover-date.dark-mode:hover {
  background-color: $dark-mode-hover;
}

.upcoming-disable-date {
  opacity: 0.15;
  pointer-events: none;
}
