.font-normal{
  font-weight: 400;
}
.font-medium{
  font-weight: 500;
}
.font-large{
  font-weight: 700;
}
.text-small{
  font-size: 14px;
}
.text-medium{
  font-size: 16px;
}
.text-large{
  font-size: 20px;
}