@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: "#db4c3f";
  --control-height: calc(100vh - 48px);
}

* {
  scroll-behavior: smooth;
}

.ant-popover {
  z-index: 10000;
}

.ant-select-selection-item {
  font-weight: 500 !important;
}
