@import "../Styles/styles.scss";

.main-layout {
  width: 100%;
  &.dark-mode {
    background-color: $dark-mode-background;
    color: white;

    .sidebar {
      background-color: $dark-mode-sidebar;
      color: white;

      .sidebarItem {
        &:hover {
          background-color: $dark-mode-hover;
        }
        &.active {
          background-color: #4f2929;
        }
      }
    }

    .home-page {
      .control {
        .todo-list {
          .todo-item {
            .control-list {
              .control-item {
                color: #d1d1d1;
                &:hover {
                  background-color: #4d4d4d;
                }
              }
            }
          }
        }
        .today-control {
          .modal {
            .modal__control {
              .modal__control-item {
                color: #b3b3b3;
                border-color: #3d3d3d;
                &:hover {
                  background-color: $dark-mode-hover;
                }
              }
            }
            .modal__footer {
              .btn {
                background-color: $dark-mode-sidebar;
                color: white;
                &:hover {
                  background-color: $dark-mode-hover;
                }
              }
              .ant-select {
                background-color: $dark-mode-background;
                color: white;
                &.ant-select-open {
                  background-color: $dark-mode-background;
                  color: white;
                }
                .ant-select-selector {
                  background-color: inherit;
                  color: inherit;
                  &:hover {
                    border-color: unset;
                  }
                  .ant-select-selection-item {
                    background-color: inherit;
                    color: inherit;
                  }
                }
                .ant-select-arrow {
                  color: white;
                }
              }
            }
          }
        }
      }
    }
  }
}
